/QLearnerDemo.xcodeproj/xcuserdata/alvinyu2003.xcuserdatad/xcdebugger
QIKitDemo/QIKitDemo.xcodeproj/xcuserdata/alvinyu2003.xcuserdatad/xcschemes/xcschememanagement.plist
QIKitDemo/QIKitDemo.xcodeproj/xcuserdata/alvinyu2003.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
